  {{form_start(menuform)}}
    {{form_row(menuform.nom)}}
    {{form_row(menuform.formule)}}
    {{form_row(menuform.validite)}}
    {{form_row(menuform.description)}}
    {{form_row(menuform.prix)}}
    <button class="bouton" type="submit">Valider</button>
  {{form_end(menuform)}}
