  {{form_start(dessertform)}}
    {{form_row(dessertform.nom)}}
    {{form_row(dessertform.prix)}}
    {{form_row(dessertform.description)}}
    {{form_row(dessertform.ingredients)}}
    <button class="bouton" type="submit">Valider</button>
  {{form_end(dessertform)}}