  {{form_start(entreeform)}}
    {{form_row(entreeform.nom)}}
    {{form_row(entreeform.prix)}}
    {{form_row(entreeform.description)}}
    {{form_row(entreeform.ingredients)}}
    <button class="bouton" type="submit">Valider</button>
  {{form_end(entreeform)}}