  {{form_start(horairesform)}}
    {{form_row(horairesform.ouv_midi)}}
    {{form_row(horairesform.ferm_midi)}}
    {{form_row(horairesform.ouv_soir)}}
    {{form_row(horairesform.ferm_soir)}}
    <button class="bouton" type="submit">Valider</button>
  {{form_end(horairesform)}}

  