  {{form_start(platform)}}
    {{form_row(platform.nom)}}
    {{form_row(platform.prix)}}
    {{form_row(platform.description)}}
    {{form_row(platform.ingredients)}}
    <button class="bouton" type="submit">Valider</button>
  {{form_end(platform)}}