  {{form_start(reservationform)}}
    {{form_row(reservationform.nom)}}
    {{form_row(reservationform.couverts)}}
    {{form_row(reservationform.date)}}
    {{form_row(reservationform.heure)}}
    {{form_row(reservationform.allergie)}}
    <button class="bouton mb-5" type="submit">Valider</button>
  {{form_end(reservationform)}}